In [1]:
#Add Madplotlib magic command
%matplotlib inline
#Dependencies
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
citydatatoload = "Resources/city_data.csv"
ridedatatoload = "Resources/ride_data.csv"

In [3]:
#read the city data file and store it in a pandas DF.
citydata_df = pd.read_csv(citydatatoload)
#citydata_df.head(10)

In [4]:
#Read the ride data file and store it in a pandas DF
ridedata_df = pd.read_csv(ridedatatoload)
#ridedata_df.head(10)

In [5]:
#Get the columns and rows that are not null.
citydata_df.count()

city            120
driver_count    120
type            120
dtype: int64

In [6]:
#Or get the sum of the columns that are null.
citydata_df.isnull().sum()

city            0
driver_count    0
type            0
dtype: int64

In [7]:
#Get the data types of each column.
citydata_df.dtypes

city            object
driver_count     int64
type            object
dtype: object

In [8]:
#Get the unique values of the type of city.
citydata_df["type"].unique()

array(['Urban', 'Suburban', 'Rural'], dtype=object)

In [9]:
sum(citydata_df["type"]=="Urban")

66

In [10]:
sum(citydata_df["type"]=="Suburban")

36

In [11]:
sum(citydata_df["type"]=="Rural")

18

In [12]:
#Inspect Ride Data DF
#Get columns and rows that are not null.
ridedata_df.count()

city       2375
date       2375
fare       2375
ride_id    2375
dtype: int64

In [13]:
#Sum columns and rows that are null.
ridedata_df.isnull().sum()

city       0
date       0
fare       0
ride_id    0
dtype: int64

In [14]:
#Merge the data into a single DF
pyberdata_df = pd.merge(ridedata_df, citydata_df, how="left", on=["city","city"])
#Display the DF
pyberdata_df.head()

,city,date,fare,ride_id,driver_count,type
0,Lake Jonathanshire,2019-01-14 10:14:22,13.83,5739410935873,5,Urban
1,South Michelleport,2019-03-04 18:24:09,30.24,2343912425577,72,Urban
2,Port Samanthamouth,2019-02-24 04:29:00,33.44,2005065760003,57,Urban
3,Rodneyfort,2019-02-10 23:22:03,23.44,5149245426178,34,Urban
4,South Jack,2019-03-06 04:28:35,34.58,3908451377344,46,Urban